*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(135, 207, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    height: 80%;
    width: 80%;
    border-radius: 5px;
    background-color: white;
}


#ptop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(59, 165, 168);
    display: flex;
    color: white;
    padding: 0 20%;
    align-items: center;
    
}

  .elem{
     align-items: center;
    display: flex;
    gap: 20px;
  }

  .elem h2{
    font-weight: 500;
  }
.box{
    background-color: white;
    color: black;
  font-weight: 600;
  font-size: 25px;
    padding: 10px 20px; 
    border-radius: 5px;
}

#pbtm{
    width: 100%;
    /* height: auto; */
  max-height: 00px;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.bubble{
    flex: 0 0 calc(10% - 5px);
    height: 60px;
    width: 60px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(45, 176, 186);
    cursor:  ;
    color: white;
}

.bubble:hover{
    background-color:rgb(18, 190, 202) ;
}